<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [5]:
string1 = "apple"
string2 = "banana"
boolean1 = True
boolean2 = False
integer1 = 10
integer2 = 5

hasil1 = string1 < string2 
hasil2 = integer1 > integer2 
hasil3 = boolean1 or boolean2



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [6]:
boolean1 = True
boolean2 = False

_and = boolean1 and boolean2  
_or = boolean1 or boolean2    
_not = not boolean1



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [8]:
grade = 'A'
price = 50000

if grade == 'A' and price > 100000:
    print('High')
elif grade == 'A' and price > 50000:
    print('Medium')
elif grade == 'A' and price <= 50000:
    print('Low')

Low



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [11]:
# Buat fungsi
def ceknummber(value):
    if value % 2 != 0:
        return 'Aneh'
    elif value % 2 == 0 and 2 <= value <= 5:
        return 'Tidak Aneh'
    elif value % 2 == 0 and 6 <= value <= 20:
        return 'Aneh'
    elif value % 2 == 0 and value > 20:
        return 'Tidak Aneh'

# Contoh pemanggilan fungsi
print(ceknummber(17))

Aneh



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

jawaban perbedaan

In [1]:
# jawaban contoh
#loop for lebih sering digunakan untuk kasus perulangan yang jumlah iterasinya lebih pasti. Sebaliknya, while loop lebih banyak digunakan untuk kasus perulangan dengan lebih banyak kondisi dan iterasi yang dilakukan biasanya relatif lebih tidak pasti.
for i in range(5):
    print("Doing important work. i =", i)

while True:
    a = input('input string: ')
    if a == 'quit':
        break
    print('length of a is {}'.format(len(a)))

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [3]:
a = 10

def fungsi_while(angka):
    for i in range(angka):
        print()




fungsi_while(a)

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [ ]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

In [11]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]
siswa_lebih_dari_80 = []

for siswa in data_siswa:
    if siswa["nilai"] >= 80:
        siswa_lebih_dari_80.append(siswa["nama"])

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [8]:
obj_list = [1, 16, 11, 10, 5]

for index, value in enumerate(obj_list):
    result = index * value
    print(f"{result}")

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---